body {
    background-color: #FF1744;
    color: white;
    font:
    italic 1.5rem "Fira Sans",
    serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer {
    background-color: #ed1b45;
    color: white;
    padding:6px;
}

.centerBtns {
    display: flex;
    justify-content: center;
}

.previousBtn, .deleteBtn, .edit, .nextBtn, .addBtn {
    margin-left: 4px;
    margin-right: 4px;
    background-color: #FF1744;
    border: solid 2px #FF1744;
    color: white;
    font:
    italic 1.8rem "Fira Sans",
    serif;
}

.addBtn:hover{
    background-color: white;
    color: #ed1b45;;
    cursor: pointer;
    border: solid 2px #FF1744;
    font:italic 1.8rem "Fira Sans",
    serif;
}

.previousBtn:hover, .deleteBtn:hover, .edit:hover, .nextBtn:hover {
    background-color: #ed1b45;
    color: white;
    cursor: pointer;
}

.inputs {
    background-color: white;
    border: solid 2px #ed1b45;
    color:black;
        font:
    italic 1.5rem "Fira Sans",
    serif;
}

#displayInfo{
    background-color: #ed1b45;
    color: white;
    padding: 6px;
}

#displayInline {
    display: inline;
}

.bookDescryption {
    background-color: white;
    border: solid 2px #ed1b45;
    color: black
}

.centerSpan {
    display: flex;
    justify-content: center;
}