/* OGÓLNE */

body {
    background-color: #FF1744;
    color: white;
    font:
    italic 1.5rem "Fira Sans",
    serif;
}


/* NAGŁÓWEK STRONY */

header {
    display: flex;
    background-color: #ed1b45;
    margin-bottom: 20px;
}

header h1 {
    background-color: #ed1b45;
}

header span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

header button {
    background-color: #FF1744;
    color: white;
    border: #FF1744;
    font-size: 1.5rem;
    margin-left: 10px;
    padding: 10px;
}

header button:hover {
    background-color: white;
    color: #FF1744;
    cursor: pointer;
}


h1 {
    text-align: center;
}

h3 {
    color: black;
}

/* CZĘŚĆ GŁÓWNA STRONY */

main {
    grid-area: main;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer {
    background-color: #ed1b45;
    color: white;
    padding:6px;
}

.centerBtns {
    display: flex;
    justify-content: center;
}

.previousBtn, .deleteBtn, .edit, .nextBtn, .addBtn {
    margin-left: 4px;
    margin-right: 4px;
    background-color: #FF1744;
    border: solid 2px #FF1744;
    color: white;
    font:
    italic 1.8rem "Fira Sans",
    serif;
}

.addBtn:hover{
    background-color: white;
    color: #ed1b45;;
    cursor: pointer;
    border: solid 2px #FF1744;
    font:italic 1.8rem "Fira Sans",
    serif;
}

.previousBtn:hover, .deleteBtn:hover, .edit:hover, .nextBtn:hover {
    background-color: #ed1b45;
    color: white;
    cursor: pointer;
}

.inputs {
    background-color: white;
    border: solid 2px #ed1b45;
    color:black;
        font:
    italic 1.5rem "Fira Sans",
    serif;
}

#displayInfo{
    background-color: #ed1b45;
    color: white;
    padding: 6px;
}

#displayInline {
    display: inline;
}

.bookDescryption {
    background-color: white;
    border: solid 2px #ed1b45;
    color: black
}

.centerSpan {
    display: flex;
    justify-content: center;
}

/* MODALE */

.blur {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

#loginContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#loginContainer .modalBox {
  position: relative;        
  background-color: white;
  color: #FF1744;
  border: 3px solid black;
  padding: 20px;
  width: 320px;
  box-sizing: border-box;
  padding: 6px;
}


#loginContainer form button, #registerContainer form button{
    background-color: white;
    color: #ed1b45;
    border: solid 2px #FF1744;
    font-size: 1rem;
    padding: 10px;
    margin: 6px  6px 6px 2px;
}

#loginContainer form input, #registerContainer form input {
    padding: 2px;
    margin: 4px  4px 4px 2px;
}

#loginContainer form button:hover, #registerContainer form button:hover {
    background-color: #ed1b45;
    color: white;
    cursor: pointer;
}


#registerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#registerContainer .modalBox {
  position: relative;        
  background-color: white;
  color: #FF1744;
  border: 3px solid black;
  width: 320px;
  box-sizing: border-box;
  padding: 6px;
}

.closeBtns {    
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  font-weight: bold;
  z-index: 200;
}

.closeBtns:hover {
  color: #f40031;;
}

#loginContainer ul, #registerContainer ul {
    list-style-type: none;
    margin: 0;           
    padding: 6px;            
    text-align: left;
}

.hidden {
    display: none;
}