/* OGÓLNE */

html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #8b5e3c;
  color: #fff8f0;
  font-family: "Merriweather", serif;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* hidden */

.hidden {
  display: none;
}

/* NAGŁÓWEK STRONY */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 35, 35);
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

header h1 {
  background-color: rgb(35, 35, 35);
}

header span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

header button {
  background-color: rgb(35, 35, 35);
  color: white;
  border: rgb(35, 35, 35);
  font-size: 1.5rem;
  margin-left: 10px;
  padding: 10px;
}

header button:hover {
  background-color: white;
  color: #8b5e3c;
  cursor: pointer;
}

/* CZĘŚĆ GŁÓWNA STRONY */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: solid 6px black;
  padding: 4px;
}

form h1 {
  color: black;
  font: italic 3rem "Fira Sans", serif;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form input {
  border: solid 3px black;
  padding: 4px;
  font: italic 1.4rem "Fira Sans", serif;
  font-weight: bold;
}

.subContainer {
  background-color: #996843;
  color: white;
  padding: 6px;
}

.centerBtns {
  display: flex;
  justify-content: center;
}

.previousBtn,
.edit,
.nextBtn {
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgb(35, 35, 35);
  border: solid 2px rgb(35, 35, 35);
  color: white;
  font: italic 1.8rem "Fira Sans", serif;
  font-weight: bold;
}

.previousBtn:hover,
.deleteBtn:hover,
.edit:hover,
.nextBtn:hover {
  background-color: rgb(35, 35, 35);
  color: #8b5e3c;
  cursor: pointer;
}

.deleteBtn {
  margin-left: 4px;
  margin-right: 4px;
  background-color: #f31414;
  border: solid 2px #f31414;
  color: white;
  font: italic 1.8rem "Fira Sans", serif;
  font-weight: bold;
}

.deleteBtn:hover {
  cursor: pointer;
  background-color: #f31414;
  border: solid 2px #f31414;
  color: black;
  opacity: 0.8;
}

.addBtn {
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgb(8, 220, 8);
  border: solid 2px rgb(8, 220, 8);
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 4px;
}

.addBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.inputs {
  background-color: white;
  border: solid 2px #8b5e3c;
  color: black;
  font: italic 1.5rem "Fira Sans", serif;
}

#displayInfo {
  background-color: #8b5e3c;
  color: white;
  padding: 6px;
}

#displayInfo span {
  display: flex;
  flex-direction: row;
}

#displayInline {
  display: inline;
}

.bookTitle {
  color: black;
  font: italic 2.5rem "Fira Sans", serif;
  font-weight: bold;
}

.bookDescryption {
  background-color: white;
  border: solid 2px #8b5e3c;
  color: black;
}

.centerSpan {
  display: flex;
  justify-content: center;
}

/* Część początkowa strony(przed zalogowaniem) */

#startingContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subContainer2 {
  background-color: #8b5e3c;
  color: white;
  padding: 6px;
}

#startingContent h2 {
  color: gold;
  font-weight: bold;
}

#introductionTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8b5e3c;
  color: white;
  padding: 6px;
}

#siteIntroduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding: 10px;
  max-width: 50%;
}

article {
  margin-top: 20px;
}

/* STÓPKA */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 35, 35);
  text-align: white;
  padding: 20px;
  text-align: center;
}

footer h2 {
  color: white;
  font-size: 1.2rem;
}

footer h3 {
  color: white;
  font-size: 1rem;
}

/* MODALE */

.blur {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#loginContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#loginContainer .modalBox {
  position: relative;
  background-color: white;
  color: #8b5e3c;
  border: 3px solid black;
  padding: 20px;
  width: 320px;
  box-sizing: border-box;
  padding: 6px;
}

#loginContainer form button,
#registerContainer form button {
  background-color: white;
  color: #8b5e3c;
  border: solid 2px #8b5e3c;
  font-size: 1rem;
  padding: 10px;
  margin: 6px 6px 6px 2px;
}

#loginContainer form input,
#registerContainer form input {
  padding: 2px;
  margin: 4px 4px 4px 2px;
}

#loginContainer form button:hover,
#registerContainer form button:hover {
  background-color: #8b5e3c;
  color: white;
  cursor: pointer;
}

#registerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#registerContainer .modalBox {
  position: relative;
  background-color: white;
  color: #8b5e3c;
  border: 3px solid black;
  width: 320px;
  box-sizing: border-box;
  padding: 6px;
}

.closeBtns {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  font-weight: bold;
  z-index: 200;
}

.closeBtns:hover {
  color: #8b5e3c;
}

#loginContainer ul,
#registerContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 6px;
  text-align: left;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
