body {
    background-color: #FF1744;
    color: white;
    font:
    italic 2rem "Fira Sans",
    serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer {
    background-color: #f01440;
    border: solid 2px #f01440;
    padding: 20px;
}

.inputs {
    background-color: #FF1744;
    padding: 6px;
    margin-bottom: 8px;
}

