body {
    background-color: #FF1744;
    color: white;
    font:
    italic 2rem "Fira Sans",
    serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayInfo {
   background-color: #f01440; 
   color: white;
   padding: 4px;
   margin-left: 4px;
   margin-right: 4px;
}

h1, h2 {
    text-align: center;
}

.arrow1{
  position: relative;
  margin:0;
  width:60px; 
  height: 60px;
  border-left: 10px solid #fff;    
  border-bottom: 10px solid #fff;   
  transform: rotate(45deg); 
  opacity: .8;      
}

.arrow2{
  position: relative;
  margin:0;
  width:60px; 
  height: 60px;
  border-right: 10px solid #fff;    
  border-bottom: 10px solid #fff; 
  transform: rotate(-45deg); 
  opacity: .8;   
         
}

.arrow1:hover , .arrow2:hover{
    cursor: pointer;
    opacity: 1;           
}

.borrowBtn {
    font: small-caps bold 16px/1 sans-serif;
    background-color: #FF1744;
    border: solid 2px black;
    color: black;
}

.borrowBtn:hover {
    font: small-caps bold 16px/1 sans-serif;
    background-color: #FF1744;
    border: solid 2px white;
    color: white;
    cursor: pointer;
}

#centerSpan {
    display: flex;
    justify-content: center;
}


